---
import GlobalLayout from "../layouts/GlobalLayout.astro";
---

<GlobalLayout>
  <header class="mx-auto max-w-6xl flex my-20 items-center flex-col">
    <h1 class="font-display text-7xl sm:text-9xl">matthew arthur</h1>
  </header>
  <main class="mx-auto max-w-6xl text-2xl px-8">
    <p>
      I'm a passionate web developer and musician from Seattle. I've been
      designing websites independently since 2022, and I'm looking to build
      experience working with a team of developers. This website is largely
      under construction. Check back soon!
    </p>
    <ul class="underline mt-6">
      <li><a href="https://www.github.com/arthurmatthew">My GitHub</a></li>
      <li>
        <a href="https://www.linkedin.com/in/matthew-arthur-6889ba395/"
          >My LinkedIn</a
        >
      </li>
    </ul>
  </main>
  <footer class="flex justify-center my-20">
    <p class="opacity-50">Updated 11/9/2025</p>
  </footer>
</GlobalLayout>
