footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;

  border-top-width: 2px;

  height: 6rem;
  width: 100vw;

  padding: 1rem 0;
  padding-left: 6rem;
}

@media (max-width: 1024px) {
  footer {
    height: 4rem;
  }
}

@media (max-width: 640px) {
  footer {
    padding-left: 0;
  }
}
